<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand">
            <h1 class="text-light">
                <i class="fa-solid fa-burger"></i>
                Foodie
            </h1>
        </a>
        <div class="d-flex">
            <a href="" class="link">
                <i class="fas fa-shopping-cart"></i>
                5
            </a>
        </div>
    </div>
</nav>

<style>
    .link {
        color: white;
        text-decoration : none;
    }
    .link:hover
    {
        color : white;
    }
</style>