@{
    ViewBag.Title = "Home Page";
}

<style>
    .txtSearch
    {
        width:100%;
        background-color:transparent;
        border:none;
        outline:0;
        border-bottom:1px solid white;
        color:white;
    }

    .btnCart
    {
        background-color:black;
        color:white;
        width:200px;
    }

</style>

<div class="container my-4">
    <input type="text" class="txtSearch" placeholder="Search foods..."/>
    <div class="row my-3">
        @foreach (var food in ViewBag.foods)
        {
            <div class="col my-2">
                <div class="card" style="width:15rem;">
                    <img src=@food.FoodImg alt=@food.FoodName height="150" />
                    <div class="card-body text-dark">
                        <h4 class="text-dark">@food.FoodName</h4>
                        @if(Convert.ToInt32(food.CategoryType) == 1)
                        {
                            <span class="badge bg-success mb-1">Veg</span>
                        }
                        else
                        {
                            <span class="badge bg-danger mb-1">Non-Veg</span>
                        }
                        <p class="card-text mb-2">@food.FoodDescription...</p>
                        <h5>$@food.FoodPrice</h5>
                        <button class="btnCart">Add to Cart</button>
                    </div>
                </div>
            </div>
        }

    </div>
</div>



